@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100vh;
  background-color: var(--Very-dark-desaturated-blue-main);
  color: white;
  height: 100vh;
  overflow: hidden;
}

input {
  font: inherit;
  color: white;
  border: none;
  outline: none;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 20px;

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__wrapper {
          order: 2;
        }

        &__label {
          order: 1;
        }
      }
    }
  }
}

.calc-display {
  width: 100%;
  margin-bottom: 20px;
}

.calc-display input {
  width: 100%;
  background-color: var(--Very-dark-desaturated-blue-screen);
  // height: 126px;
  border-radius: var(--radius);
}

.calc-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    ". . . . "
    ". . . . "
    ". . . . "
    ". . . . "
    "reset reset equal equal";
  grid-gap: 26px 22px;
  width: 100%;
  padding: 20px;
  background-color: var(--Very-dark-desaturated-blue-keypad);
  border-radius: var(--radius);

  .delete,.reset {
    background-color: var(--Desaturated-dark-blue);
    color: var(--White);
  }

  .reset {
    grid-area: reset;
  }

  .equal {
    grid-area: equal;
    background-color: var(--Red);
    color: var(--White)
  }

  input {
    background-color: var(--Light-grayish-orange);
    color: var(--Very-dark-grayish-blue-text);
    border-radius: var(--radius);
    text-align: center;
    padding: 10px;
  }
}
