@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100vh;
  background-color: var(--Very-dark-desaturated-blue-main);
  color: white;
  height: 100vh;
  overflow: hidden;
}

input, button {
  font: inherit;
  color: white;
  border: none;
  outline: none;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 20px;

    .toggle {
      border: none;

      legend {
        display: inline-block;
      }

      &__label {
        display: flex;
        justify-content: space-around;
        font-size: 10px;
      }

      &__wrapper {
        height: 24px;
        position: relative;
      }

      input[type="radio"] {
        // margin: 0 -2px 0 -2px;
        margin: 0;
        opacity: 0;
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
        }
      }

      &__background {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: var(--Very-dark-desaturated-blue-screen);
        border-radius: 10px;
        pointer-events: none;
      }

      &__button {
        position: absolute;
        top: 3px;
        left: 3px;
        right: 100%;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--Dark-red);
      }

      #theme-two:checked ~ .toggle__button {
        left: 50%;
        right: auto;
        transform: translate(-50%);
      }

      #theme-three:checked ~ .toggle__button {
        left: auto;
        right: 2px;
      }
    }
  }
}

.calc-display {
  width: 100%;
  margin-bottom: 20px;
}

.calc-display input {
  width: 100%;
  background-color: var(--Very-dark-desaturated-blue-screen);
  height: 82px;
  border-radius: var(--radius);
  font-size: 32px;
  // padding: 25px;
  text-align: right;
}

.calc-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    ". . . . "
    ". . . . "
    ". . . . "
    ". . . . "
    "reset reset equal equal";
  grid-gap: 26px 22px;
  width: 100%;
  padding: 20px;
  background-color: var(--Very-dark-desaturated-blue-keypad);
  border-radius: var(--radius);

  .delete,
  .reset {
    background-color: var(--Desaturated-dark-blue);
    color: var(--White);
  }

  .reset {
    grid-area: reset;

    :hover {
      cursor: pointer;
    }
  }

  .equal {
    grid-area: equal;
    background-color: var(--Red);
    color: var(--White);

    :hover {
      cursor: pointer;
    }
  }

  input, button {
    background-color: var(--Light-grayish-orange);
    color: var(--Very-dark-grayish-blue-text);
    border-radius: var(--radius);
    text-align: center;
    padding: 10px;
  }
}
